<%= link_to "Submit a movie!", new_movie_path %>
<hr>
<h1>Opening This Week</h1>
<div class="row">
  <% @opening_this_week.each do |movie| %>
    <div class="col-md-3 col-sm-4 col-xs-6">
      <%= link_to image_tag(movie.poster_image_url), movie_path(movie) %>
      <h2><%= link_to movie.title, movie_path(movie) %> | <%= movie.review_average %>/10</h2>
      <h3><%= formatted_date(movie.release_date) %></h3>
      <h4>Dir. <%= movie.director %> | <%= movie.runtime_in_minutes %> minutes</h4>
      <p><%= movie.description %></p>
    </div>
  <% end %>
</div>

<h1 class="title-toggle">Best of Rotten Mangoes</h1>
<div class="btn-group">
  <button type="button" class="btn btn-default">Monthly</button>
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="caret"></span>
    <span class="sr-only">Toggle Dropdown</span>
  </button>
  <ul class="dropdown-menu">
    <li><a href="#">Monthly</a></li>
    <li><a href="#">Yearly</a></li>
    <li><a href="#">Forever</a></li>
  </ul>
</div>
<div class="row">
  <% @best_of_monthly.each do |movie| %>
    <div class="col-md-3 col-sm-4 col-xs-6">
      <%= link_to image_tag(movie.poster_image_url), movie_path(movie) %>
      <h2><%= link_to movie.title, movie_path(movie) %> | <%= movie.review_average %>/10</h2>
      <h3><%= formatted_date(movie.release_date) %></h3>
      <h4>Dir. <%= movie.director %> | <%= movie.runtime_in_minutes %> minutes</h4>
      <p><%= movie.description %></p>
    </div>
  <% end %>
</div>