<%= link_to "Submit a movie!", new_movie_path %>
<hr>
<h1>Opening Soon</h1>
<!-- TODO make slider -->
<div class="slide-container">
  <div class="row">
    <% @opening_soon.each do |movie| %>
      <div class="col-md-3 col-sm-4 col-xs-6 movie-thumb">
        <%= link_to image_tag(movie.poster_image_url, height: "190"), movie_path(movie) %>
        <h3><%= link_to movie.title, movie_path(movie) %></h3>
        <p>
          <% if movie.review_average >= 50 %>
            <%= image_tag("black-border.png", width: "20")%>
          <% else %>
            <%= image_tag("splatter.png", width: "20")%>
          <% end %>
          <%= movie.review_average %>%
        </p>
        <p>In Theaters <%= formatted_date(movie.release_date) %></p>
      </div>
    <% end %>
  </div>
</div>

<h1 class="title-toggle">Best of Rotten Mangoes</h1>
<div class="btn-group">
  <button type="button" class="btn btn-default">Monthly</button>
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="caret"></span>
    <span class="sr-only">Toggle Dropdown</span>
  </button>
  <ul class="dropdown-menu">
    <li><a href="#">Monthly</a></li>
    <li><a href="#">Yearly</a></li>
    <li><a href="#">Forever</a></li>
  </ul>
</div>
<div class="row">
  <% @best_of_monthly.each do |movie| %>
    <div class="col-md-3 col-sm-4 col-xs-6 movie-thumb">
      <%= link_to image_tag(movie.poster_image_url, height: "190"), movie_path(movie) %>
      <h3><%= link_to movie.title, movie_path(movie) %></h3>
      <p>
        <% if movie.review_average >= 50 %>
          <%= image_tag("black-border.png", width: "20")%>
        <% else %>
          <%= image_tag("splatter.png", width: "20")%>
        <% end %>
        <%= movie.review_average %>%
      </p>
      <p>In Theaters <%= formatted_date(movie.release_date) %></p>
    </div>
  <% end %>
</div>