<%= link_to "Submit a movie!", new_movie_path %>
<hr>
<div class="row">
  <% @movies.each do |movie| %>
    <div class="col-md-3 col-sm-4 col-xs-6 movie-thumb">
      <%= link_to image_tag(movie.poster_image_url, height: "190"), movie_path(movie) %>
      <h4><%= link_to movie.title, movie_path(movie) %></h4>
      <p>
        <% if movie.review_average >= 50 %>
          <%= image_tag("black-border.png", width: "20")%>
        <% else %>
          <%= image_tag("splatter.png", width: "20")%>
        <% end %>
        <%= movie.review_average %>%
      </p>
      <% if movie.release_date > Date.today %>
        <p>In Theaters <%= formatted_date(movie.release_date) %></p>
      <% end %>
    </div>
  <% end %>
</div>